.games {
  width: 250px;
  height: 450px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(70, 11, 46, 0.9);
  margin: 10px 50px;
  cursor: pointer;
  min-height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.games h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.games p {
  font-size: 18px;
}